<h2 class="text-center">Markets Overview</h2>
<h6 class="text-center"><%= @data[0].updated_at %></h6>
<div class="container-md">
  <div class="markets-nav-bar very-mb-sm ">
    <div class="display-flex">
      <p class="name"><%= sortable "name", 'Name', 'text-yellow' %></p>
      <p class="price"><%= sortable "price", 'Price' , 'text-yellow' %></p>
      <p class="change"><%= sortable "change_24h_d", 'Change $', 'text-yellow' %></p>
      <p class="change2"><%= sortable "change_24h_p", 'Change %', 'text-yellow'%></p>
    </div>
  </div>
  <div class="">
    <% for item in @data %>
      <div class="flex-space-between">
        <div class="markets-item display-flex">
          <img src="<%= item["image"]%>" class="icon">
          <p class="table-mt ml-sm"><%= item["symbol"].upcase %></p>
          <p class="coins-name ml-sm text-sm text-gray "><%= item["name"]%> </p>
        </div>
        <p class="markets-item table-mt"> <%= item["price"] %> $</p>
        <p class="markets-item table-mt"><%= item["change_24h_d"].round(5) %>$</p>
        <p class="markets-item mark-last-item table-mt"><%= item["change_24h_p"].round(4) %>%</p>
      </div>
      <hr>
    <% end %>
  </div>
</div>
