<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="header">
      <%= link_to 'Taras Rohulya', root_path, class: "header-text" %>
      <div class="menu ml-lg">
        <%= link_to 'Markest', coins_path, class: 'ml-sm menu-item' %>
        <%= link_to 'About', about_index_path, class: 'ml-lg menu-item' %>
        <%= link_to 'Users', users_path, class: 'ml-lg menu-item' %>
      </div>
      <div class="reg-log">
        <% if user_signed_in? %>
          <%= content_tag 'span', "@#{current_user.email}", class: 'ml-lg' %>
          <%= button_to 'Вийти', destroy_user_session_path, method: :delete,class: 'ml-lg' %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: 'ml-lg  button reg-button menu-item' %>
          <%= link_to 'Register', new_user_registration_path, class: ' ml-lg button button-yellov reg-button' %>
        <% end %>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
